// цвет текста

$black-text-color: #111518;
$grey-text-color: #b9b9b9;
$white-text-color: #ffffff;
$accent-text-color: #ff6b09;

// цвет фона
$white-bg-color: #ffffff;
$main-bg-color: #e5e5e5;
$black-bg-color: #111518;
$accent-bg-color: #ff6b09;
$secondary-bg-color: #f1f1f1;

// цвет кнопок
$white-btn-color: #ffffff;
$accent-btn-color: #ff6b09;
$bg-btn-color: #ff6b09;

// цвет иконок
$accent-icon-color: #ff6b09;
$white-icon-color: #ffffff;
$vk-icon-color: #436eab;
// шрифты

//
$mobile-res: 480px;
$tablet-res: 768px;
$desktop-res: 1680px;

// transition
