<section class="section advantages">
  <div class="container">
    <h2 class="title-hidden">Our advantages</h2>
    <ul class="adv__list">
      <li class="adv__item">
        <sgv class="adv__icon" width="50" height="60">
          <use href=""></use>
        </sgv>
        <p class="adv__title item__title">Adapted author's UPE program</p>
      </li>
      <li class="adv__item">
        <sgv class="adv__icon" width="50" height="60">
          <use href=""></use>
        </sgv>
        <p class="adv__title item__title">Modern teaching methods</p>
      </li>
      <li class="adv__item">
        <sgv class="adv__icon" width="50" height="60">
          <use href=""></use>
        </sgv>
        <p class="adv__title item__title">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
