<section class="section contacts">
  <h2 class="section__title contacts__title">
    Registration for a <span class="contacts__item">free</span> phone
    <span class="contacts__item">consultation</span> on the nuances of English UPE
  </h2>
  <p class="contacts__description">
    Leave a request for participation in a <span class="contacts__item">free lesson</span>. A
    consultant will contact you and answer your questions
  </p>
  <form class="contacts__form">
    <div>
      <input class="contact__input" type="text" />
      <input class="contact__input" type="text" />
    </div>
    <button type="submit"></button>
  </form>
</section>
