<section class="section footer">
  <div class="container footer-container">
    <img
      class="footer__logo"
      src="./images/logo_footer.svg"
      alt="logo-company"
      width="80"
      height="30"
    />
    <a class="footer__telephone" href="tel:+380000000000">
      <svg class="footer_telephone-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-phone"></use>
      </svg>
      +38 (000) 000 00 00</a
    >
    <p class="footer__copyright">@ All rights reserved, 2019</p>
  </div>
</section>
