<section class="section header">
  <div class="container">
    <a class="header__logo" href=""
      ><svg class="header__logo-icon" width="34" height="12">
        <use href="./images/icons.svg#icon-hell"></use>
      </svg>
      <svg class="header__logo-icon" width="14" height="19">
        <use href="./images/icons.svg#icon-campfire"></use>
      </svg>
      <svg class="header__logo-icon" width="23" height="11">
        <use href="./images/icons.svg#icon-en"></use>
      </svg>
      <span class="header__logo-title">Hellish english</span>
    </a>
    <button type="button">бургер</button>
  </div>
</section>
