<section class="section hero">
  <div class="container">
    <h1 class="section__title section__title--hero">Complex preparation for English UPE</h1>
    <p class="hero__message-one">It won’t be easy.</p>
    <p class="hero__message-two item__title">
      But you’re guaranteed to get <span class="hero__message-two-accent">+25 points</span>
    </p>
    <button class="button hero-button" type="button">I want a free lesson</button>
    <picture class="hero_image">
      <source
        srcset="./images/hero/hero_lg.jpg 1x, ./images/hero/hero_lg@2x.jpg 2x"
        media="(min-width: 1366px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/hero/hero_md.jpg 1x, ./images/hero/hero_md@2x.jpg 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/hero/hero_sm.jpg 1x, ./images/hero/hero_sm@2x.jpg 2x"
        media="(min-width: 320px)"
        type="image/jpeg"
      />
      <img src="./images/hero/hero_sm.jpg" alt="work" width="208" />
    </picture>
  </div>
</section>
