<section class="section we-do">
  <div class="container">
    <h3 class="we-do__title">How do we do it</h3>
    <ul class="we-do__list">
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">Adapted program preparation for UPE</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">Classroom and online learning</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          The teacher will help not only in the classroom, but also during home preparation.Parents
          can chat if they wish.
        </p>
      </li>
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">The habit of reading in English</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">Psychological support</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          We will teach you testing techniques, the ability to plan your confidence training in
          itself.
        </p>
      </li>
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">Training on copyright manuals</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled 2 manuals for you.
        </p>
      </li>
      <li class="we-do__item">
        <svg class="we-do__icon" width="43" height="48">
          <use href=""></use>
        </svg>
        <h2 class="we-do__title">Ability to comprehend spoken English</h2>
        <span class="we-do__decor"> - </span>
        <p class="we-do__about">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
          accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
