<section class="section problems">
  <div class="container container--problems">
    <h2 class="problems__title section__title">
      The main problems of students in English UPE, which we
      <span class="problems__title--accent">help</span> to solve
    </h2>
    <div class="problems__wrapper wrapper--specificity">
      <ul class="problems__list">
        <li class="problems__item item__title">Grammar</li>
        <li class="problems__item item__title">Inability to understand spoken English</li>
        <li class="problems__item item__title">Stingy vocabulary for writing an essay</li>
        <li class="problems__item item__title">Preparing alone</li>
        <li class="problems__item item__title">Lack of a single knowledge resource</li>
        <li class="problems__item item__title">Lack of self-organization and laziness</li>
      </ul>
    </div>
  </div>
</section>
