<section class="benefits benefits--secondary section">
  <div class="container">
    <h2 class="benefits__title benefits__title--primary section__title">
      The main problems of students in English UPE, which we
      <span class="benefits__title-accent">help</span> to solve
    </h2>

    <ul class="benefits__list">
      <li class="benefits__item item__title">Grammar</li>
      <li class="benefits__item item__title">Inability to understand spoken English</li>
      <li class="benefits__item item__title">Stingy vocabulary for writing an essay</li>
      <li class="benefits__item item__title">Preparing alone</li>
      <li class="benefits__item item__title">Lack of a single knowledge resource</li>
      <li class="benefits__item item__title">Lack of self-organization and laziness</li>
    </ul>
  </div>
</section>
