<section class="section__program">

    <div class="container program__container">
        <h2 class="program__title">
            Our program
        </h2>
        <ul class="list">
            <li>
                <ul class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                        <ul>
                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>

                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                        <ul>
                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>

                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                        <ul>
                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>

                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                        <ul>
                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>

                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                        <ul>
                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>

                            <li class="list__item--title">
                                <h4> Grammar</h4>
                                <p class="list__text">
                                    Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <img src="./images/Problems/problem_md.jpg" alt="program images">

    </div>

    <div class="container program__container">
        <div class="program__title">
            <h2>
                Our program
            </h2>
        </div>
        <ol class="list">
            <li>
                <ol class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                    </li>
                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>

                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                    </li>
                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>

                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                    </li>
                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>

                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                    </li>
                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>

                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="list__item">
                    <li class="list__title">
                        <h3>1 semester</h3>
                    </li>
                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>

                    <li class="list__item--title">
                        <h4> Grammar</h4>
                    </li>
                    <li>
                        <p class="list__text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
    </div>

</section>