<section class="section program">
    <div class="container">

        <h2 class="section__title program__title">
            Our program
        </h2>

        <ul class="program__list">
            <li class="program__item">
                <h3 class="program__item-title">1 semester</h3>
                <ul class="program__inner-list">
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Grammar</h4>
                        <p class="program__inner-text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Vocabulary</h4>
                        <p class="program__inner-text">
                            Family & Relations <br>
                            People & Society
                        </p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <h3 class="program__item-title">2 semester</h3>
                <ul class="program__inner-list">
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Grammar</h4>
                        <p class="program__inner-text">
                            Pronouns <br>
                            Active Voice <br>
                            Passive Voice
                        </p>
                    </li>

                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Vocabulary</h4>
                        <p class="program__inner-text">
                            Home <br>
                            School <br>
                            Work
                        </p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <h3 class="program__item-title">3 semester</h3>
                <ul class="program__inner-list">
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Grammar</h4>
                        <p class="program__inner-text">
                            Nouns & Articles <br>
                            Adjectives & Adverb
                        </p>
                    </li>
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Vocabulary</h4>
                        <p class="program__inner-text">
                            Travel & Tourism <br>
                            Culture & Free Time Sport
                        </p>
                    </li>
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Writing</h4>
                        <p class="program__inner-text">
                            Informal Letter
                        </p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <h3 class="program__item-title">4 semester</h3>
                <ul class="program__inner-list">
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Grammar</h4>
                        <p class="program__inner-text">
                            Clauses: Conditional and Wishes <br>
                            Direct / Reported speech position <br>
                            Conjunction Numeral
                        </p>
                    </li>
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Vocabulary</h4>
                        <p class="program__inner-text">
                            Healthy Living <br>
                            Nature & Environment <br>
                            Money
                        </p>
                    </li>
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; Writing</h4>
                        <p class="program__inner-text">
                            Formal Letter
                        </p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <h3 class="program__item-title">5 semester</h3>
                <ul class="program__inner-list">
                    <li class="program__inner-item">
                        <h4 class="program__inner-title">&#8212; </h4>
                        <p class="program__inner-text">
                            Revision <br>
                            Tests
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>