<section class="section program" id="program">
  <div class="container">
    <h2 class="section__title program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__item-title">1 semester</h3>
        <ul class="program__inner-list">
          <li class="program__inner-item">
            <h4 class="program__inner-title">Grammar</h4>
            <p class="program__inner-text">Nouns & Articles Adjectives & Adverb</p>
          </li>
          <li class="program__inner-item">
            <h4 class="program__inner-title">Vocabulary</h4>
            <p class="program__inner-text">Family & Relations People & Society</p>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__item-title">2 semester</h3>
        <ul class="program__inner-list">
          <li class="program__inner-item">
            <h4 class="program__inner-title">Grammar</h4>
            <p class="program__inner-text">Pronouns Active Voice Passive Voice</p>
          </li>

          <li class="program__inner-item">
            <h4 class="program__inner-title">Vocabulary</h4>
            <p class="program__inner-text">Home School Work</p>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__item-title">3 semester</h3>
        <ul class="program__inner-list">
          <li class="program__inner-item">
            <h4 class="program__inner-title">Grammar</h4>
            <p class="program__inner-text">Nouns & Articles Adjectives & Adverb</p>
          </li>
          <li class="program__inner-item">
            <h4 class="program__inner-title">Vocabulary</h4>
            <p class="program__inner-text">Travel & Tourism Culture & Free Time Sport</p>
          </li>
          <li class="program__inner-item">
            <h4 class="program__inner-title">Writing</h4>
            <p class="program__inner-text">Informal Letter</p>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__item-title">4 semester</h3>
        <ul class="program__inner-list">
          <li class="program__inner-item">
            <h4 class="program__inner-title">Grammar</h4>
            <p class="program__inner-text">
              Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction
              Numeral
            </p>
          </li>
          <li class="program__inner-item">
            <h4 class="program__inner-title">Vocabulary</h4>
            <p class="program__inner-text">Healthy Living Nature & Environment Money</p>
          </li>
          <li class="program__inner-item">
            <h4 class="program__inner-title">Writing</h4>
            <p class="program__inner-text">Formal Letter</p>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__item-title">5 semester</h3>
        <ul class="program__inner-list">
          <li class="program__inner-item">
            <h4 class="list__item--title"></h4>
            <p class="program__inner-text">
              Revision <br />
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
