<section class="section reviews">
  <div class="container reviews__container--padding">
    <h2 class="section__title reviews__title">Feedback from graduates</h2>
    <div class="reviews__container slider-for">
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-container">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_md-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="reviews__logo-img"
              srcset="
                ./images/reviews/Ellipse_main/Ellipse_01_sm.jpg    1x,
                ./images/reviews/Ellipse_main/Ellipse_01_sm@2x.jpg 2x
              "
              src="./images/reviews/Ellipse_main/Ellipse_01_sm.jpg"
              alt="photo of our student"
              width="90"
            />
          </picture>
          <a href="" class="reviews__socials">
            <svg class="reviews__socials-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews__content-container">
          <h3 class="reviews__initials">Tonya Kucherovskaya</h3>
          <p class="reviews__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__about">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a href="" class="reviews__about-more">Read more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__list slider-nav">
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_1.jpg 1x, ./images/reviews/Ellipse_1@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_1.jpg 1x, ./images/reviews/Ellipse_1@2x.jpg 2x"
            src="./images/reviews/Ellipse_1.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_2.jpg 1x, ./images/reviews/Ellipse_2@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_2.jpg 1x, ./images/reviews/Ellipse_2@2x.jpg 2x"
            src="./images/reviews/Ellipse_2.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_3.jpg 1x, ./images/reviews/Ellipse_3@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_3.jpg 1x, ./images/reviews/Ellipse_3@2x.jpg 2x"
            src="./images/reviews/Ellipse_3.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_4.jpg 1x, ./images/reviews/Ellipse_4@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_4.jpg 1x, ./images/reviews/Ellipse_4@2x.jpg 2x"
            src="./images/reviews/Ellipse_4.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_5.jpg 1x, ./images/reviews/Ellipse_5@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_5.jpg 1x, ./images/reviews/Ellipse_5@2x.jpg 2x"
            src="./images/reviews/Ellipse_5.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_6.jpg 1x, ./images/reviews/Ellipse_6@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_6.jpg 1x, ./images/reviews/Ellipse_6@2x.jpg 2x"
            src="./images/reviews/Ellipse_6.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/reviews/Ellipse_7.jpg 1x, ./images/reviews/Ellipse_7@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="reviews__item-logo"
            srcset="./images/reviews/Ellipse_7.jpg 1x, ./images/reviews/Ellipse_7@2x.jpg 2x"
            src="./images/reviews/Ellipse_7.jpg"
            alt="photo of our student"
            width="54"
          />
        </picture>
      </div>
    </div>

    <div class="reviews__peoples-container">
      <!-- <button class="reviews__switch reviews__switch--left" type="button">
        <svg class="reviews__switch-icon reviews__switch-icon--left" width="25" height="15">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button> -->
      <!-- <button class="reviews__switch reviews__switch--right" type="button">
        <svg class="reviews__switch-icon" width="25" height="15">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button> -->
      <!-- <div class="reviews__overlay reviews__overlay--left"></div>
      <div class="reviews__overlay reviews__overlay--right"></div> -->
    </div>
  </div>
</section>
