.benefits {
  background-color: $black-bg-color;
  background-image: linear-gradient(to bottom, $black-bg-color 67%, $white-bg-color 67%);

  &__title {
    margin-bottom: 54px;
    color: $white-text-color;

    @include mq(mobile-only) {
      max-width: 180px;
      text-align: left;
    }

    @include mq(tablet) {
      text-align: center;
      font-size: 26px;
    }

    @include mq(desktop) {
      visibility: hidden;
    }
  }

  // &__list {
  //   padding         : 20px 25px 20px 30px;
  //   background-color: $white-bg-color;
  //   box-shadow      : -5px 8px 26px rgba(0, 0, 0, 0.04);

  //   counter-reset: section;
  // }

  // &__item {
  //   &::before {
  //     display: block;

  //     margin-bottom: 10px;

  //     counter-increment: section;
  //     content          : '\2014  0'counter(section);
  //     color            : $accent-text-color;
  //   }

  //   &:not(:last-child) {
  //     margin-bottom: 36px;
  //   }
  // }
}

// Список
.problems__list {
  counter-reset: section;
  position: relative;
  background: $white-bg-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  text-align: left;

  @include mq(mobile-only) {
    padding: 20px 30px;
  }

  @include mq(tablet) {
    padding: 25px 95px;
    display: flex;
    flex-wrap: wrap;

  }

  @include mq(desktop) {

    padding: 70px 110px;

  }
}

.problems__item {
  &:before {
    display: block;
    margin-bottom: 5px;
    counter-increment: section;
    content: '\2014  0'counter(section);
    color: $accent-text-color;
  }

  @include mq(mobile-only) {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  @include mq(tablet) {
    @include grid(24px, 2);

  }

  @include mq(desktop) {
    @include grid(40px, 3);
  }
}
