.guarantee {
  padding: 0;

  @include mq(tablet-only) {
    padding: 0 40px;
  }
}

.guarantee-container {
  padding: 0;
  @include mq(mobile-only) {
    max-width: $mobile-res;
  }

  @include mq(tablet-only) {
    max-width: $tablet-res;
  }
}

.guarantee__title {
  margin-bottom: 30px;

  font-size: 26px;
}

.guarantee__list {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;

  background-color: $secondary-bg-color;

  @include mq(tablet-only) {
    padding: 30px 50px 30px 0;
  }
}
.guarantee__item {
  position: relative;

  margin-left: 27px;

  padding-left: 28px;
  padding-bottom: 20px;

  color: $secondary-text-color;
  font-weight: 500;

  &:not(:last-child) {
    border-left: 1px dashed $grey-text-color;
  }
  @include mq(tablet-only) {
    padding-left: 32px;
    margin-left: 86px;
  }
}

.guarantee__item::before {
  position: absolute;
  left: -8px;

  content: '';

  display: block;
  width: 14.67px;
  height: 20px;
  background-image: url(../images/icon-campfire.svg);
}

.guarantee__accent {
  color: $accent-text-color;
}
