.guarantee {
  padding: 0;
}

.guarantee-container {
  padding: 0;
  @include mq(mobile-only) {
    max-width: $mobile-res;
  }

  @include mq(tablet) {
    max-width: $tablet-res;
  }

  @include mq(desktop) {
    max-width: $desktop-res;
  }
}

.guarantee__title {
  margin-bottom: 30px;

  font-size: 26px;

  @include mq(desktop) {
    margin-bottom: 50px;

    font-size: 46px;
  }
}

.guarantee__list {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;

  background-color: $secondary-bg-color;

  @include mq(tablet-only) {
    padding: 30px 50px 30px 0;
  }

  @include mq(desktop) {
    padding: 50px 112px 45px 0;
  }
}
.guarantee__item {
  position: relative;

  margin-left: 27px;

  padding-left: 28px;

  color: $secondary-text-color;
  font-weight: 500;

  &:not(:last-child) {
    padding-bottom: 20px;
    border-left: 1px dashed $grey-text-color;
  }

  @include mq(tablet-only) {
    padding-left: 32px;
    margin-left: 86px;
  }

  @include mq(desktop) {
    padding-left: 41px;
    margin-left: 123px;

    font-size: 20px;
  }
}

.guarantee__item::before {
  position: absolute;
  left: -8px;

  content: '';

  display: block;
  width: 14.67px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/icon-campfire.svg);

  @include mq(desktop) {
    width: 21.5px;
    height: 30px;
  }
}

.guarantee__accent {
  color: $accent-text-color;
}
