.hero {
  background-image: url(../images/hero/hero_wave1.svg);
  background-position: 5% 100%;
  background-repeat: no-repeat;
}

.section__title--hero {
  text-align: start;

  margin-bottom: 8px;
}
.hero__message-one {
  @include font-style(14px, 500, 22px, 0.08em, $grey-text-color);
}
.hero__message-two {
  margin-bottom: 52px;
}
.hero__message-two-accent {
  color: $accent-text-color;
}
.hero-button {
  margin-bottom: 50px;
}

.hero__wrapper {
  width: 208px;
  height: 178px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  @include mq(tablet) {
    width: 376px;
  }

  @include mq(desktop) {
    width: 842px;
  }
}
