.reviews {
  text-align: center;
  &__title {
    margin-bottom: 24px;
  }

  &__logo-img {
    margin: 0 auto;
    margin-bottom: 24px;

    display: block;
    width: 90px;
    height: auto;
  }
  &__socials {
    display: inline-block;
    margin-bottom: 24px;
  }
  &__initials {
    margin-bottom: 16px;
    @include font-style(14px, 700, 1.3, 0.08em, $accent-text-color);
  }
  &__education {
    margin-bottom: 16px;
    @include font-style(null, 500, 1.25, null, $grey-text-color);
  }
  &__about {
    font-weight: 500;
  }
}
