.button {
  display: block;
  border: none;
  min-width: 260px;
  margin: 0 auto;
  padding: 14px;
  background-color: $bg-btn-color;

  text-transform: uppercase;

  cursor: pointer;

  @include mq(mobile-only) {
    @include font-style(12px, 700, 1.25, 0.08em, $white-text-color);
  }
  @include mq(tablet) {
    @include font-style(14px, 700, 1.14, 0.14em, $white-text-color);
  }
}

.button--inverted {
  background-color: transparent;
  border: 2px solid $accent-btn-color;

  color: $accent-text-color;
}
.button:focus,
.button:hover {
  background-color: $white-btn-color;
  color: $bg-btn-color;
  border: 2px solid $accent-btn-color;
}
.button--inverted:focus,
.button--inverted:hover {
  background-color: $bg-btn-color;
  color: $white-btn-color;
}
