.button {
  display: block;
  border: none;
  min-width: 260px;
  margin: 0 auto;
  padding: 14px;
  background-color: $bg-btn-color;

  text-transform: uppercase;
  @include font-style(12px, 800, 1.12, 0.08em, $white-text-color);
}

.button--inverted {
  background-color: transparent;
  border: 2px solid $accent-btn-color;

  color: $accent-text-color;
}

.test-class {
  color: red;
}
