body {
  background-color: $white-bg-color;

  font-family: 'Montserrat', sans-serif;
  @include font-style(12px, null, 1.67, 0.08em, $grey-text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 50px 0;
}

.section__title {
  @include font-style(20px, 800, 1.3, 0.03em, $black-text-color);

  text-align: center;
}

.item__title {
  @include font-style(14px, 800, 1.43, 0.08em, $black-text-color);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}
